[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cIRT"]
	path = cIRT
	url = https://github.com/tmsalab/cirt
[submodule "dina"]
	path = dina
	url = https://github.com/tmsalab/dina
[submodule "edina"]
	path = edina
	url = https://github.com/tmsalab/edina
[submodule "edmdata"]
	path = edmdata
	url = https://github.com/tmsalab/edmdata
[submodule "errum"]
	path = errum
	url = https://github.com/tmsalab/errum
[submodule "fourPNO"]
	path = fourPNO
	url = https://github.com/tmsalab/fourpno
[submodule "hmcdm"]
	path = hmcdm
	url = https://github.com/tmsalab/hmcdm
[submodule "iccbeta"]
	path = iccbeta
	url = https://github.com/tmsalab/iccbeta
[submodule "ohoegdm"]
	path = ohoegdm
	url = https://github.com/tmsalab/ohoegdm
[submodule "simcdm"]
	path = simcdm
	url = https://github.com/tmsalab/simcdm
